@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Poppins&display=swap');

html,
body {
    scroll-behavior: smooth;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Montaga', serif;*/
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

div#root {
    height: auto !important;
    min-height: 100%;
}

.font-montaga {
    font-family: 'Montaga', serif !important;
}

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

html.dark,
body.dark {
    color: rgb(185, 179, 170);
    background-color: rgb(24, 26, 27);
    scroll-behavior: initial;
}

body.dark div#root,
body.dark .hero {
    background-color: rgb(24, 26, 27) !important;
}

body.dark .navbar {
    background-color: rgb(30, 32, 33);
}

body.dark .navbar .navbar-item,
body.dark .navbar .navbar-link {
    color: #fff !important
}

body.dark .navbar .navbar-item:not(.navbar-item.has-buttons):hover,
body.dark .navbar .navbar-link:hover {
    background-color: rgb(38, 38, 38) !important;
}

body.dark .navbar .navbar-item:focus,
body.dark .navbar .navbar-item.has-dropdown:hover .navbar-link,
body.dark .navbar .navbar-item.has-dropdown .navbar-link:focus {
    background-color: rgb(23, 24, 25) !important;
}

body.dark .navbar-menu,
body.dark .navbar-dropdown {
    background-color: rgb(24, 26, 27);
    box-shadow: rgba(8, 8, 8, 0.1) 0px 8px 16px;
}

body.dark .navbar-burger {
    color: rgb(185, 179, 170);
}

body.dark .button.is-light,
body.dark .button.is-app-primary-outline {
    background-color: rgb(34, 36, 38) !important;
    color: #1d70fd !important;
    border-color: #1d70fd !important;
}

body.dark .button.is-light {
    color: rgba(232, 230, 227, 0.7)
}

body.dark.has-text-app-primary {
    color: #1d70fd !important;
}

body.dark .single-post {
    background-color: rgb(34, 36, 38);
}

body.dark h1:not(.note-dropdown-menu h1),
body.dark h2:not(.note-dropdown-menu h2),
body.dark h3:not(.note-dropdown-menu h3),
body.dark h4:not(.note-dropdown-menu h4),
body.dark h5:not(.note-dropdown-menu h5),
body.dark h6:not(.note-dropdown-menu h6) {
    color: #fff;
}

body.dark .subtitle,
body.dark p,
body.dark label,
body.dark strong:not(.button strong),
.note-frame {
    color: rgb(185, 179, 170) !important;
}

body.dark .auth-form-section,
body.dark .form-section {
    box-shadow: none !important;
    border: 2px solid #222 !important;
}

body.dark .container {
    background-color: transparent;
}

body.dark .card {
    background-color: rgb(35, 37, 38);
    box-shadow: rgba(8, 8, 8, 0.1) 0px 0.5em 1em -0.125em, rgba(8, 8, 8, 0.02) 0px 0px 0px 1px;
    color: rgb(185, 179, 170);
}

body.dark .has-text-app-primary {
    color: rgb(29, 112, 253) !important;
}

body.dark input.input,
body.dark textarea.textarea {
    background-color: #0c0c10;
    border: 2px solid #29202f;
    color: #fff !important;
}

body.dark > input:focus, input:active, textarea:focus, textarea:active{
    border-color: unset !important;
    box-shadow: none !important;
} 

body.dark input.input::placeholder,
body.dark textarea.textarea::placeholder {
    color: #fff !important;
}

.navbar .navbar-item-active {
    color: var(--primary);
    background-color: #e4e4ff;
}

body.dark .navbar .navbar-item-active {
    background-color: #242424 !important;
}

/*


body.dark .navbar .navbar-menu{
    background-color: inherit;
    color:#fff ;
}
body.dark .navbar .navbar-item, .navbar-link, .navbar-burger{
    color:#fff;
}
body.dark .bg-color{
    background-color:rgb(27, 29, 30) !important;
}
body.dark .form-control {
    background-color: #0c0c10;
    border: 2px solid #1c1c1c;
    color: rgb(198, 193, 185);
}
*/
body.light {
    color: #000;
    background-color: #fff;
}

.form-section {
    max-width: 500px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
    height: 8px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 5px;
}

.navbar-brand .navbar-item {
    font-size: 1.2rem
}

.font-pacifico {
    font-family: 'Pacifico', cursive !important;
}

.d-none {
    display: none !important;
}

.d-hidden {
    opacity: 0;
    height: 0;
}

.hero {
    height: 100vh;
    background: rgb(29, 17, 218);
    background: linear-gradient(140deg, rgba(29, 17, 218, 1) 31%, rgba(120, 0, 184, 1) 100%);
}

.is-app-primary {
    border-color: var(--primary);
    background-color: var(--primary) !important;
    color: #fff !important;
}

.is-app-primary-outline {
    border-color: var(--primary);
    background-color: #fff !important;
    color: var(--primary) !important;
}

.bg-color {
    background: #f5faff;
}

.btn-act {
    border-radius: 5px !important;
}

.is-current {
    background-color: var(--primary) !important;
}

.btn-act.is-app-primary:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 0px 0px #000;
}

.is-app-primary:hover {
    border-color: var(--primary) !important;
}

.auth-form-section {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 2px 2px 5px #ddd;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.input:active,
.input:focus,
.is-active.input,
.is-active.textarea,
.is-focused.input,
.is-focused.textarea,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus {
    border-color: #1d1e91 !important;
    box-shadow: 0 0 0 .125em #dadbff !important;
}

.navbar {
    background-color: #ebecff;
}

.radius-10 {
    border-radius: 10px;
}

.radius-20 {
    border-radius: 20px;
}

.theme-switch * {
    cursor: pointer;
    user-select: none;
}

.theme-switch {
    position: fixed;
    top: 80%;
    right: 3%;
    box-shadow: 0px 0px 8px var(--primary);
    border-radius: 50%;
    z-index: 7777777;
}

.theme-switch button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    color: #fff;
    background-color: var(--primary);
}

.theme-switch i {
    font-size: 1.5em
}

.blog-container {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

.blog-user {
    color: #717171;
}

.blog-user .user-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.blog-user .name-section {
    align-self: center;
}

.blog-last article {
    padding: 20px;
    word-break: break-all;
    background-color: #f9f9f9;
}

body.dark .blog-last article {
    background-color: #1e1e1e !important;
}

.single-post-divider {
    border-top: 1px dashed;
}

.radius-0 {
    border-radius: 0 !important
}

.blog-post .blog-cover {
    width: 100%;
    height: 500px;
}

ol,
ul {
    margin: 16px 0 !important;
    padding: 0 0 0 40px !important;
}

.blog-post .blog-cover img {
    width: 100%;
    height: inherit;
}

.blog-post .blog-first {
    margin-bottom: 20px;
}

.blog-post .blog-first h3 {
    text-transform: capitalize;
}

.blog-third {
    margin: 20px 0;
    display: flex;
}

.blog-third h4.blog-user {
    align-self: center;
    margin: 0;
    width: 100%;
    font-size: .9rem;
}

.blog-third .button-section {
    width: 100%;
    display: inline-flex;
    justify-content: end;
}

.blog-post .blog-cover .blog-overlay {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blog-post:not(:last-child) {
    margin-bottom: 20px;
}

.single-post {
    display: flex;
    border-radius: 0;
    /*border: 1px solid var(--primary);
    box-shadow: 0px 0px 8px #b5b5b5;*/
    background-color: #eee;
}

.single-post-comment {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.single-post:not(:last-child) {
    margin-bottom: 20px;
}

.single-post-first {
    flex-basis: 40%;
    height: 250px;
    border-radius: inherit;
}

.single-post-first img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.single-post-last {
    margin-left: 10px;
    flex-basis: 60%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.single-post-last button {
    border-radius: 0;
    width: 50%;
    margin: 0 auto;
}

.single-post-content {
    margin-bottom: 10px;
}

.single-post-content article {
    word-break: break-all;
}

.single-post-last sh2 {
    margin-bottom: 5px;
}

.button.has-fa-icon {
    display: inline-block !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.m-auto {
    margin: auto;
}

.blog-category {
    margin: 20px 0;
}

.blog-category a {
    cursor: pointer;
    font-weight: bold;
}

.filter-area {
    margin-bottom: 20px;
}

.comment-section {
    max-width: 500px;
}

.card.card-comment {
    max-width: 300px;
    border: 1px solid;
}

.card.card-comment:not(:last-child) {
    margin-bottom: 20px;
}

.card.card-comment article p {
    word-break: break-all;
}

.home-posts-container {
    margin-top: 5rem;
}

.home-posts-card.card {
    max-width: 300px
}

.home-posts-card .card-img {
    height: 200px;
    width: 100%;
}

.home-posts-card .card-img img {
    height: inherit;
    width: inherit;
}

.home-posts-card {
    min-height: 200px;
}

.home-posts-card .footer-section {
    display: flex;
}

.home-posts-card .footer-section .comment-area {
    width: 100%;
    align-self: center;
    text-align: left;
}

.home-posts-card .footer-section .button-area {
    width: 100%;
    text-align: right;
}

.should-be-centered {
    position: relative;
    transform: translate(-50%, 50%);
    left: 50%;
}

@media screen and (max-width: 600px) {
    .center-on-mobile {
        text-align: center !important;
    }

    .home-posts-card.card {
        margin: auto;
    }

    .single-post {
        display: block !important;
    }

    .single-post-last {
        width: 100%;
        margin-left: 0 !important;
        margin-top: 10px;
    }

    .blog-third {
        display: block !important;
        padding: 10px;
    }

    .blog-third h4.blog-user {
        margin-bottom: 10px;
    }

    .blog-third .button-section {
        justify-content: center;
    }
}

button.button {
    line-height: 0 !important;
}

button.button.delete-comment {
    font-size: .8rem;
}

button.is-cta:hover {
    position: relative;
    transform: translateY(-4px)
}

.has-text-app-primary {
    color: var(--primary) !important;
}

.user-meta-card .card-img {
    background-color: #9dbdd740;
    padding: 10px;
}

footer {
    background-color: #020359 !important;
    padding: 1.5rem !important;
    color: #aeaeae;
}

.centered-elem {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

footer strong {
    color: #fff !important;
}

.about-title {
    background: linear-gradient(140deg, rgb(29, 17, 218) 31%, rgb(120, 0, 184) 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section.is-section {
    box-shadow: 0px 0px 8px #ddd;
    padding: 10px;
}

:root {
    --primary: #0508fd
        /*#00029d; /*#8107c6;*/
}